---
import type { Blog } from '../lib/types'
import { client } from '../lib/tursoDb'
import FormattedDate from '../components/FormattedDate.astro'
import type { CollectionEntry } from 'astro:content'

let posts: Blog[] = []
try {
	const allPostsResponse = await client.execute(
		'select posts.title, posts.description, posts.slug, posts.hero, authors.first_name, authors.last_name, authors.slug as author_slug, authors.avatar, posts.content, posts.created_at from posts left join authors on authors.id = posts.author_id order by posts.created_at desc;'
	)
	const allPosts = allPostsResponse.rows
	posts = allPosts.map((post: any): Blog => {
		return {
			published: false,
			title: post.title,
			description: post.description,
			slug: post.slug,
			hero: post.hero,
			tags: post.tags,
			created_at: post.created_at,
			author: {
				first_name: post.first_name,
				last_name: post.last_name,
				slug: post.slug,
				avatar: post.avatar
			}
		}
	})
} catch (error) {
	// TODO: Handle error and notify user
}

const { article } = Astro.props

interface Props {
	article: CollectionEntry<'blog'>
}
---

<div class="relative inline-block w-full cursor-pointer rounded-2xl sm:w-auto">
	{
		posts.map((post) => (
			<>
				<a href={`/post/${post.slug}/`}>{post.title}</a>
				<img src={post.hero} alt="Article Image" class="h-auto w-full rounded-2xl" />
			</>
		))
	}
	<div
		class="absolute inset-0 flex flex-col items-center justify-center rounded-2xl bg-black text-center text-white opacity-80 transition duration-300 ease-in-out hover:opacity-75"
	>
		<div>
			{
				posts.map((post) => (
					<>
						<h2 class="text-2xl font-semibold sm:text-3xl">{post.title}</h2>
						<p class="mt-4 text-xl">
							<FormattedDate date={post.publish_date || post.created_at} />
						</p>
					</>
				))
			}

			<!-- Tags with rounded border -->
			<div class="mt-4 flex justify-center">
				{
					posts.map((post) => (
						<>
							<span class="mr-2 rounded-full border px-2 py-1 text-xs text-white">{post.tags}</span>
						</>
					))
				}
			</div>
		</div>
	</div>
</div>
